html {
   scroll-behavior: smooth; }
  
  body {
    background-image: url(./../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.6rem; }
    body:after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      position: fixed;
      opacity: .8;
      z-index: -1;
      background: #f12711;
      background: -webkit-linear-gradient(to right, #f5af19, #f12711);
      background: linear-gradient(to right, #f5af19, #f12711); }
        .container{
        padding-left: 0;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        width: 1024px;

    }
    @media (max-width:991px) {.container{
      width: 100%;
      margin: 0;
    padding: 0;

  } }
    a {
      text-decoration: none;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  /*start boxed*/
    .boxed{
      margin: 0 auto;
      margin-top: 3rem;
      margin-bottom: 6rem;
      box-shadow: 0 15px 30px 0 rgb(0 0 0 / 15%), 0 5px 15px 0 rgb(0 0 0 / 49%);
      position: relative;
      width: 1024px;
      overflow: hidden;
      FONT-WEIGHT: 100;
    }   @media (max-width:991px) {.boxed{
      width: 100%;
   
    
  } }
  /*end boxed*/
/*start header*/
.header{   position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;}
.header .container{
  display: flex;
    justify-content: space-between;
    padding-left: 0;
}
.header i{
  padding: 20px;
  font-size: 50px;
}
i.fas.fa-align-justify{

color: black;
font-size: 22px;
}
@media (min-width:768px) {i.fas.fa-align-justify{
  display: none;
}}
.header .head {
  flex-direction: row;
  display: flex;
  padding: 20px;
}

i.fas.fa-align-justify:hover + ul{
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 100%;
  background-color: #000000de;
  left: 2px;
  border-bottom: 1px solid;
  width: 100%;
padding: 0;}
@media (max-width:768px){.header .head{
  display: none;
}

}
.header .head li{
  padding: 10px;
    margin-top: 5px;
    font-size: 15px;
}
.header .head li a{
  color: #aaaaab;
}
/*end header*/
/*start footer*/
.footer{
background-image:url(../img/hero-2.jpg) ;
background-size: cover;
height: 88vh;
background-color: #3f51b5;
background-position: 50% 50%;

}
.footer .info{    position: absolute;
  top: 2%;
  width: 50%;
  text-align: center;
  left: 25%;
}

@media (max-width:768px) {.footer .info{
  position: absolute;
  top: 1%;
  width: 50%;
  left: 25%;
  text-align: center;
} }
.footer .info h3{
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 0;
}
.footer .info p{
  font-size: 17px;
  line-height: 1.9;
}
/*end footer*/
/*start one part*/
.one{

  padding-top: 80px;
  background-color: white;
  padding-bottom: 80px;

}
.one .info{text-align: center;}
.one .info h2{font-weight: 300;
  letter-spacing: 5px;}
.one .info span.web{
  font-weight: 700;
}
.one .info p{
  font-size: 16px;
} 
.icon{    display:flex;
  text-align: center;
}
@media (max-width: 991px) {.icon{
  display: flex;
  flex-direction: column;
}
}
  .icon img{max-width:50%;}
  .icon h5{    font-size: 18px;
    color: #505356;
    letter-spacing: 1px;
    margin-top: 0px}

  .icon p{font-size: 16px;}
  .icon a{
    font-weight: 500;
    font-size: 16px;
    color: #f15e75;
  }
/*end one part*/
    
/*start part two*/
.two{
  text-align: center;
}
.two .container{display: flex;
  justify-content: space-evenly;
  gap: 40px;}
  @media (max-width: 991px) {.two .container{display: flex;
    gap: 40px;
    flex-direction: column;
  }
  }
  .two .row{
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .two .row i{
color: white;
font-size: 40px;
  }
  .two .row span{
    color: white;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
  }
  .two .row h4{
    font-size: 50px;
    margin-top: 10px;
    color: white;
    margin-bottom: 10px;
  }
/*end part two*/




/*start part trhee*/
.trhee{
  text-align: center;
  padding-top: 80px;
  background-color: white;
  padding-bottom: 80px;
}
.trhee .text h2{
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 30px;
}

.trhee .text p{
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 50px;
}

.trhee .g{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.trhee .g i{font-size: 35px;
}
.trhee .g h4{
  font-weight: 400;
  margin: 20px 0;}
.trhee .g p{
  font-size: 16px;
  color:#212529;
}
/*end part trhee*/
/*Profile*/
/*end Profile*/


.Profile{
  padding-top: 80px;
  background-color: white;
  padding-bottom: 80px;
}
.Profile .text{
text-align: center;
}
.Profile .text h2{
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 30px;
}
.Profile span{    font-weight: 500;
  letter-spacing: 1px;}
.Profile .text p{  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 50px;}
 .Profile .frist{
  display: flex;
  margin: 0 20vh;
 }
 @media (max-width: 991px) {.Profile .frist{display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0;
}
}
.Profile .frist .test{ width: 50%;}

@media (max-width: 991px) {.Profile .frist .test{
width: 100%;}
}
 .Profile .frist .test i{
   color: red;
   font-size: 40px;
 }
 .Profile .frist .test h4{ font-size: 31px;
    font-weight: 400;
    margin-bottom: 30px;
    letter-spacing: 1px;}
  .Profile .frist .test p{     font-size: 18px;
    line-height: 1.5;
    margin-bottom: 50px;

  }
 .Profile .frist img{
   max-width: 40%;
 }
 
 @media (max-width: 991px) {.Profile .frist img{max-width:100% ;
 }
 }
/**/
.Profile .end{
  display: flex;
  margin: 0 20vh;
}
@media (max-width: 991px) {.Profile .end{display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0;
}
}
.Profile .end .test{    width: 50%;}
.Profile .frist .test{    width: 50%;}
@media (max-width: 991px) {.Profile .end .test{
width: 100%;
}
}
.Profile .end .test i{
  color: red;
  font-size: 40px;

}
.Profile .end .test h4{ font-size: 31px;
   font-weight: 400;
   margin-bottom: 30px;
   letter-spacing: 1px;}
 .Profile .end .test p{     font-size: 18px;
   line-height: 1.5;
   margin-bottom: 50px;

 }
.Profile .end img{
  max-width: 40%;
}
@media (max-width: 991px) {.Profile .end img{max-width:100% ;
}
}
/**/
.Profile .app{
  display: flex;
  margin: 0 20vh;
}
@media (max-width: 991px) {.Profile .app{display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0;
}
}
.Profile .app .test{    width: 50%;}
@media (max-width: 991px) {.Profile .app .test{
  width: 100%;
  }
  }
.Profile .app .test h4{ font-size: 31px;
   font-weight: 400;
   margin-bottom: 30px;
   letter-spacing: 1px;}
 .Profile .app .test p{     font-size: 18px;
   line-height: 1.5;
   margin-bottom: 50px;

 }
.Profile .app img{
  max-width: 100%;
  
}
@media (max-width: 991px) {.Profile .app img{max-width: 100%;
  display: block;
  margin: auto;
  padding: 10px;
}
}
.Profile .app .img{text-align: center;
  margin: 50px 0;
}


/*end Profile*/


/*start blog*/

.blog{
  padding-top: 80px;
background-color: #f7f8f9;
  
  padding-bottom: 80px;
}
.blog .text{
  text-align: center;
}
.blog .text h2 {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 30px;
}
.blog .text span { font-weight: 500;
  letter-spacing: 1px;
}
.blog .text p{font-size: 15px;
  line-height: 1.5;
  margin-bottom: 50px;}
  /**/
.blog .blogs{
  display: flex;
    gap: 20px;
    padding: 20px;
}
@media (max-width: 991px) {.blog .blogs{display: flex;
  width: 100%;
  flex-direction: column;
padding: 0;
}
}
.blog .blogs .box {
  box-shadow:  0 20px 27px 0 #0000000d;
 transition: 0.5s;
 }
.blog .blogs .box:hover {
  transform: translatey( -10px);
    box-shadow: 0 20px 27px 0 #00000070;

}
.blog .blogs .box a{
  font-size: 15px;
    letter-spacing: 1px;
    color: #f15e75;
    font-weight: 500;
}
.blog .blogs .box h4{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0;
}

.blog .blogs .box .data{
  font-size: 14px;

}
.blogs .info{
  padding: 10px 10px;
}
.blog .blogs .box p {
  font-size: 19px;
  font-weight: 200;
}
.blog .blogs .box {
 box-shadow:  0 20px 27px 0 #0000000d;

}
.blog .blogs .box .name{font-size: 14px;

}
.blog .blogs img{
  width: 100%;
  border-radius: 6px;
}
/*end blog*/
/*end gallery*/


.gallery{
  padding-top: 80px;
  background-color: white;
  padding-bottom: 80px;
}

.gallery .text{
  text-align: center;
}
.gallery .text h2 {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 30px;
}
.gallery .text span { font-weight: 500;
  letter-spacing: 1px;
}
.gallery .text p{font-size: 15px;
  line-height: 1.5;
  margin-bottom: 50px;}

  .gallery ul{
    display: flex;
    justify-content: center;
    padding: 5px;
}
  .gallery li{
    padding: 5px;
    font-size: 17px;
  }
  .gallery ul li a{
    color:#f15e75 ;
  }
  .gallery .photo {
  width: 32%
  }
  @media (max-width: 991px) {.gallery .photo {
    width: 100%;
    
  }
  }
  .gallery .photo img{
    width: 100%;
    padding: 10px;
    border-radius: 25px;
  }
  @media (max-width: 991px) {.gallery .photo img{
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }
  }
   .gallery .all{
     opacity: 1;
     transition: 0.5s;
   }
   .gallery .all:hover{
    opacity: 0.6;
   }
   .gallery .all .test{
     text-align: center;
     display: none;
     transition: 0.5s;
position: relative;

    }
   .gallery .all:hover .test{
    display: block;
top: 160vh;
   }
   .gallery .all .test i{
     padding: 5px;
   }
   .gallery .all .test span{
     display: block;
     font-weight: bold;
   }
   .gallery .all .none{
     display: none;
   }
   .gallery .all .icone{
    cursor: pointer;
   }
 
/*end gallery*/
/*start pricing*/
.Pricing{
padding-top: 80px;
background-color: #f7f8f9;
padding-bottom: 80px;
}

.Pricing .text{
text-align: center;
}
.Pricing .text h2 {
font-size: 40px;
font-weight: 300;
margin-bottom: 30px;
}

.Pricing .text p{font-size: 15px;
line-height: 1.5;
margin-bottom: 50px;}
.Pricing .money{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  padding: 15px;
}
.Pricing .money .title{
  text-align: center;
  box-shadow:  0 20px 27px 0 #0000000d;
}
.Pricing .money .title span.frist {
color: #fdba51;
    font-weight: bold;
    font-size: 15px;
  }
  .Pricing .money .title span.two {
    color: #35B8AD ;
        font-weight: bold;
        font-size: 15px;
      }
      .Pricing .money .title span.four {
        color: #fc665f;
            font-weight: bold;
            font-size: 15px;
          }
.Pricing .money .title .gb{
  margin: 10px 0;
    font-size: 30px;
    font-weight: bold;
}
.Pricing .money .title .gb .line{
  color: #0000009e;
  position: relative;
  top: -12px;
  font-size: 20px;;
}
.Pricing .money .title .te{
  font-size: 18px;
  margin-bottom: 10%;
  padding-bottom: 20px;
  border-bottom: 1px solid #00000033;}
  .Pricing .money .title .infoo{
    font-size: 17px;
    min-height: 150px;
}
.Pricing .money .title .sale{
  font-weight: bold;
    font-size: 30px;
    margin-bottom: 0;
}
.Pricing .money .title .mo{

display: block;
font-size: 18px;
margin: 10px 0;
}
.Pricing .money .title .one{
background-color: #fdba51;
display: block;
font-weight: bold;
border-radius: 6px;
color: white;
font-size: 16px;
max-width: 100%;
margin: 15px 27px;
padding: 10px;}
.Pricing .money .title .trhee{
  background-color: #35B8AD ;
  display: block;
  font-weight: bold;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  max-width: 100%;
  margin: 15px 27px;
  padding: 10px;}
  .Pricing .money .title .five{
    background-color: #fc665f ;
    display: block;
    font-weight: bold;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    max-width: 100%;
    margin: 15px 27px;
    padding: 10px;}
/*end pricing*/



.content{

padding-top: 80px;
background-color: white;
padding-bottom: 80px;
}

.content .text{
text-align: center;
}
.content .text h2 {
font-size: 40px;
font-weight: 300;
margin-bottom: 30px;
}
.content .text span { font-weight: 500;
  letter-spacing: 1px;
}
.content .client{
  max-width: 16.6%;
  display: flex;

}
@media (max-width: 991px) {.content .client{
 display: flex;
 max-width: 100%;
 flex-direction: column;
}}
.content .client img{
  width: 100%;
}







.endl{
background-color: white;
display: flex;
    justify-content: space-between;
    border-top: 1px solid;
}
.endl p{
  padding: 0 10px;
    font-size: 25px;
    font-weight: bold;
}
  .endl a{padding: 25px;
    color: blue;}


    /* Mobile */
    
    @media (max-width: 767px) {
    }
    
    /* Small Screens */
    
    @media (min-width: 768px) and (max-width: 991px) {
    }
    
    /* Medium Screens */
    
    @media (min-width: 992px) {
    }
    
    /* Large Screens */
    
    @media (min-width: 1200px) {
    }
    
    /* Custom */
    
    @media (max-width: 1199px) {
    }
    